body {
    background-color: orange;
}
#grid-flex {
    display: grid;
    padding: 0;
    background-color: orange;
    /* margin: auto auto; */
    grid-gap: 1% 1%;
}
.grid-item {
  list-style-type : none;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  background-color: grey;
  /* margin: auto auto; */
}
img {
    background-color: white;
    width: 10vw;
 
}
h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: lime;
}
h2 {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: lime;
}
h3 {
    font-family: 'Orbitron', sans-serif;
    color: lime;
}
