@media screen and (min-width:0px) and (max-width:414px)
{
  #grid-flex {
      /* grid-template-columns: auto auto; */
      grid-template-columns: repeat (2, 1fr);
      grid-template-areas: 'a a';
    }
  
    
    .grid-item:first-child {
     grid-area: a;
    }
    img {
     border:1px solid orange;

    }
}