body {
    width: 100%;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
    text-align: center;
    background-color: rgb(0, 0, 0);
 }
 header {
    width:100;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
 }
 h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Righteous', cursive;
    background-color: rgba(0,255,0,0.7);
    padding: 0px 0px 90px 0px;
    background: url("https://i.imgur.com/qOFuisW.png");
    background-position: center;
    background-size:cover;
    color: rgb(223, 96, 11);
    margin: 0px 0px 0px 0px;
}
main {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
 }
 section {
     width: 100%;
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
     text-align: center;
     /* background-color: orange; */
 }
 h2 {
    color: lime;
    text-align: center;
    font-family: 'Righteous', cursive;
    background-color: rgba(233, 83, 24);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
 img {
    width: 95%;
    background-color: white;
    border: 2px solid lime;
 }
 .grid-item p {
    display: flex;
    /* align-items: flex-end; */
    background-color: rgba(3, 2, 2, 0.8);
 }
#grid-flex {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.5% 2%;
    width: 100%; /* This saved me */
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    background-position: center;
    background-size: cover;
    text-align: center;
    list-style-type: none;
    background-color:rgb(63, 63, 63);
 }
 .grid-item {
    width: 95%;
    text-align: center;
    border: 3px solid lime;
    border-radius: 0.3rem;
    background: url("https://i.imgur.com/CwqXfuf.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(6, 173, 0);
    font-family: 'Permanent Marker', cursive;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
   }
 h3 {
    color: rgb(14, 255, 14);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding:0px 0px 0px 0px;
    margin:10px 0px 10px 0px;
 }
 p {
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
 }


    /*Media Queries Section*/
@media screen and (min-width:0px) and (max-width:414px) {
    body {
        margin: 0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
    }
    #grid-flex {
        width: 100%;
        grid-template-columns: auto auto;
        grid-gap: 0.3% 3%;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        text-align:center;
        background-position:center;
    }
    .grid-item {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 90%;
        border: 2px solid lime;
    }
    .grid-item:first-child {
        grid-column: 1 / span 2;
        width: 90%;
        padding: 10px 10px 10px 10px;
    }
    img {
        width: 90%;
        background-color: white;
        border: 0.5px solid lime;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    h1 {
        width:100%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    h2 {
        width: 100%;
        margin:0px 0px 10px 0px;
        padding: 0px 0px px 0px;
    }
     
}
@media screen and (min-width:415px) and (max-width: 1366px) {
    #grid-flex {
        width:100%;
        grid-template-columns: (6, 1fr);
        grid-gap: 0.8% 2%;
        padding: 0px 0px 30px 0px;
    }
    .grid-item {
        width:100%;
        border: 2px solid lime;
    }
    /* In order to pass this obstacle this link helped me a lot:
    https://stackoverflow.com/questions/47614008/can-i-have-a-varying-number-of-columns-per-row-in-a-css-grid */
    .grid-item:first-child {
        width: 100%;
        grid-row-start: 1;
        grid-column: 1 / span 3;
    }
     .grid-item:nth-child(2) {
        width: 100%;
        grid-row-start: 1;
        grid-column: 4 / span 3;
    }
    .grid-item:nth-child(3) {
        grid-row-start: 2;
        grid-column: 1 / span 2;
    }
    .grid-item:nth-child(4) {
        grid-row-start: 2;
        grid-column: 3 / span 2;
    }
    .grid-item:nth-child(5) {
        grid-row-start: 2;
        grid-column: 5 / span 2;
    }
    .grid-item:nth-child(6) {
        grid-row-start: 3;
        grid-column: 1 / span 2;
    }
    .grid-item:nth-child(7) {
        grid-row-start: 3;
        grid-column: 3 / span 2;
    }
    .grid-item:nth-child(8) {
        grid-row-start: 3;
        grid-column: 5 / span 2;
    }
    .grid-item:nth-child(9) {
        grid-row-start: 4;
        grid-column: 1 / span 2;
    }
    .grid-item:nth-child(10) {
        grid-row-start: 4;
        grid-column: 3 / span 2;
    }
    .grid-item:nth-child(11) {
        grid-row-start: 4;
        grid-column: 5 / span 2;
    }
    .grid-item:nth-child(12) {
        grid-row-start: 5;
        grid-column: 1 / span 2;
    }
    .grid-item:nth-child(13) {
        grid-row-start: 5;
        grid-column: 3 / span 2;
    }
    .grid-item:nth-child(14) {
        grid-row-start: 5;
        grid-column: 5 / span 2;
    }
       img {
        width: 90%;
        background-color: white;
        border: 0.5px solid lime;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    h1 {
        width:100%;
        /* padding: 10px 10px 10px 10px; */
    }
    /* h3 {
        padding: 10px 10px 10px 10px;
    } */
}
@media screen and (min-width:1367px) {
    .grid-item:first-child {
        grid-column: 1 / span 2;
    }
}