head {
    color: firebrick;
}
header {
    /*background-color: rgb(0, 0, 70);*/
    background: url("https://images-assets.nasa.gov/image/PIA15415/PIA15415~orig.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    margin:auto;
    
}
body {
    
    text-align: center;
    background-color: black;
    background-position: center;
    /*background: url("https://images-assets.nasa.gov/image/PIA17563/PIA17563~orig.jpg");*/
    color: white;
    background-size: cover;
}
.cat {
display: inline;
padding: 0px 10px 0px 10px;
font-family: 'Supermercado One', cursive;
margin:
}
.categ {
    background: rgba(25, 204, 228, 0.5);
    padding: 10px;
    margin:20px;
    background-size:cover;
}
.catcolor
{
color: orangered;
}
h1 {
 color: orangered;
 font-size: 36px;
 font-family: 'Jomolhari', serif;
}
#personal_information {
    padding: 30px 10px 10px 10px;
}
a {
color: yellowgreen;
}
h2 {
color: rgb(216, 50, 50);
}
ul
{
    list-style-type: none;
}

#table1, th, td
{
border: 1px solid orangered;
text-align: center;
}
