head {
    background-color: yellow;
    color: orangered;
}
header {
    /*background-color: rgb(0, 0, 70);*/
    background: url("https://images-assets.nasa.gov/image/PIA15415/PIA15415~orig.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative;
}
#my_photo {
padding: 15px 0px 15px 0px;
}
h1 {
    color: orangered;
    font-size: 36px;
    font-family: 'Jomolhari', serif;
    margin:auto;
    padding:0px 0px 0px 0px;
   }
h3 {
    color: rgba(25, 204, 228, 1);
}
.categ {
    list-style-type: none;
    margin: 0 auto 15px auto;
    width: 100%;
    position: absolute;
    bottom: 0; 
}
.cat {
    font-family: 'Supermercado One', cursive;
    display: inline;
    margin: 0 5px 0 5px;
    padding: 5px;
    background-color: blueviolet;
    }
.catcolor{
   color: rgb(49, 4, 247);
   opacity: 1;
   text-align: center;
   text-decoration: none;
   }
.catcolor:hover {
    background-color: rgba(255,255,1,1);
   }
.active {
    background-color: red;
   }
body { 
    text-align: center;
    background-color: black;
    background-position: center;
    /*background: url("https://images-assets.nasa.gov/image/PIA17563/PIA17563~orig.jpg");*/
    color: white;
    background-size: cover;
}
#personal_information {
    padding: 30px 10px 10px 10px;
}
a {
color: yellowgreen;
}
h2 {
color: rgb(216, 50, 50);
}
#hobbies
{
    list-style-type: none;
    margin:0px 0px;
    padding: 0px 0px 0px 0px;
}

#table1, th, td
{
border: 1px solid orangered;
text-align: center;

}
#table1 {
margin: 0px auto 0px auto;
width: 30%;
padding: 0px 0px 0px 0px;
}
/* @media screen and (min-width:480px) {
    aside{
        width:33%;
    }
} */
@media screen and (max-width:480px) {
    .categ {
        /* list-style-type: none; */
        padding: 0;
        position: static;
        margin: auto;
        /* width: 100%; */
        /* position: absolute; */
        /* bottom: 0;  */
    }
    header {
        /* position: static; */
        height: auto;
        position: relative;
    }
    .cat {
        font-family: 'Supermercado One', cursive;
        display: block;
        margin: 5px 5px 5px 5px;
        padding: 5px;
        position: relative;
        background-color: blueviolet;
        }
    #table1, tr, td, tbody, thead {
            font-size: 14px;
        }
   

}