head {
    color: firebrick;
}
header {
    background-color: rgb(0, 0, 70);
    color: white;
}
body {
    padding: 50px;
    text-align: center;
    background-color: black;
    color: white;
    background-size: cover;
}
.cat {
display: inline;
padding: 0px 10px 0px 10px;
font-family: 'Supermercado One', cursive;
}
.categ {
    background: rgba(25, 204, 228, 0.5);
    padding: 10px;
}
.catcolor
{
color: orangered;
}
h1 {
 color: orangered;
 font-size: 36px;
 font-family: 'Jomolhari', serif;
}
a {
color: yellowgreen;
}
h2 {
color: rgb(216, 50, 50);
}
ul
{
    list-style-type: none;
}

#table1, th, td
{
border: 1px solid orangered;
text-align: center;

}